.App {
  text-align: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: rgba(190, 187, 187, 0.681);
}
*{
  box-sizing: border-box;
  /* scroll-behavior: smooth; */

}
html{
  scroll-behavior: smooth;

}
/* .nav{
  position: fixed;
} */
/* html:focus-within {
  scroll-behavior: smooth;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

